ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a {
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:  rgb(77, 48, 48);;
}
li a:hover{
    opacity: 0.8;
    cursor: pointer;
}