<div class="container">
    <h3>Select Size</h3>
</div>
<ul>
    <li *ngFor="let pizzaSize of pizzaSizes">
        <a (click)="this.selectPizzaSize(pizzaSize)">
            <img src="{{pizzaSize.imageUrl}}" alt="food-images">
            <div class="content">
                <div class="name">{{pizzaSize.name}}</div>
                <div class="prize">{{pizzaSize.prize}}$</div>
            </div>
        </a>
    </li>
</ul>
<div class="container">
    <h3>Select pizza sauces</h3>
</div>
<ul>
    <li *ngFor="let pizzaSauce of pizzaSauces">
        <a (click)="this.selectPizzaSauce(pizzaSauce)">
            <img src="{{pizzaSauce.imageUrl}}" alt="food-images">
            <div class="content">
                <div class="name">{{pizzaSauce.name}}</div>
                <div class="prize">{{pizzaSauce.prize}}$</div>
            </div>
        </a>
    </li>
</ul>
<div class="container">
    <h3>Do you want extra cheese?</h3>
</div>
<ul>
    <li>
        <button class="button" type="button" (click)="addExtraCheese(true)">
            <i class="fa fa-plus"></i>
            Yes!!
        </button>
    </li>
    <li>
        <button class="button" type="button" (click)="addExtraCheese(false)">
            <i class="fa fa-plus"></i>
            No!!
        </button>
    </li>
</ul>
<ul>
    <li>
        <button class="button" type="button" (click)="navigateToPreviousPage()">
            <i class="fa fa-plus"></i>
            < Back </button>
    </li>
    <li>
        <button class="button" type="button" (click)="navigateToToppings()">
            <i class="fa fa-plus"></i>
            Next >
        </button>
    </li>
</ul>