header{
    background-color: white;
    padding: 0px;
    border-bottom: 1px solid blanchedalmond;
}
a{
    color: rgb(77, 48, 48);
}
a:hover{
    color: blue;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}